.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.home div {
  background: #55b3ff;
  color: white;
  margin: 20px;
  padding: 20px;
}

.home div ul {
  padding: 5px 12px;
  list-style: disc;
}
